@tailwind base;
@tailwind components;
@tailwind utilities;
/* remove arrows */
.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.remove-arrow {
  -moz-appearance: textfield;
}
textarea {
  resize: none;
}
input[type="checkbox"] {
  accent-color: black;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.stare {
  -webkit-clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
/* men page */

.parent0 {
  position: relative;
}
.parent0 .child0 {
  margin-top: 10px;
  height: 0px;
  transition: height 0.2s linear;
}
.parent0:hover .child0 {
  height: 116px;
}
.parent1 {
  position: relative;
}
.parent1 .child1 {
  margin-top: 10px;
  height: 0px;
  transition: height 0.2s linear;
}
.parent1:hover .child1 {
  height: 116px;
}
.hideCard {
  height: 0;
  transition: height 0.3s linear;
}
.showCard {
  height: 100px;
  transition: height 0.3s linear;
}
/* FAQ */
.faq .showFaq {
  height: 120px;
  transition: height 0.3s linear;
}
.faq .hideFaq {
  height: 0px;
  transition: height 0.3s linear;
}
.all_product {
  height: 0px;
  transition: height 0.3s linear;
}
.product:hover .all_product {
  height: 200px;
  transition: height 0.3s linear;
}
.mobileNav .hideNav {
  height: 0px;
  transition: height 0.3s linear;
}
.mobileNav .showNav {
  height: 318px;
  transition: height 0.3s linear;
}

.country .hideCountries {
  height: 0px;
  transition: height 0.2s linear;
}
.country .showCountries {
  height: 24rem;
  transition: height 0.2s linear;
}

