@tailwind base;
@tailwind components;
@tailwind utilities;
.stare {
  -webkit-clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
/* men page */

.parent0 {
  position: relative;
}
.parent0 .child0 {
  margin-top: 10px;
  height: 0px;
  transition: height 0.2s linear;
}
.parent0:hover .child0 {
  height: 116px;
}
.parent1 {
  position: relative;
}
.parent1 .child1 {
  margin-top: 10px;
  height: 0px;
  transition: height 0.2s linear;
}
.parent1:hover .child1 {
  height: 116px;
}
.hideCard {
  height: 0;
  transition: height 0.3s linear;
}
.showCard {
  height: 100px;
  transition: height 0.3s linear;
}
